Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///croot/brotli-split_1714483155106/work
cachetools==4.2.4
certifi @ file:///croot/certifi_1720453481653/work/certifi
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
easyfl==0.1.2
etcd3==0.12.0
filelock @ file:///croot/filelock_1700591183607/work
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-auth==1.21.2
grpcio==1.54.2
grpcio-tools==1.54.2
idna @ file:///croot/idna_1714398848350/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
kubernetes==11.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
networkx @ file:///croot/networkx_1690561992265/work
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///croot/numpy_and_numpy_base_1682520569166/work
oauthlib==3.2.2
omegaconf==2.0.0
packaging @ file:///croot/packaging_1720101850331/work
pandas @ file:///croot/pandas_1692289311655/work
Pillow==9.5.0
platformdirs @ file:///croot/platformdirs_1692205439124/work
pooch @ file:///croot/pooch_1695850093751/work
protobuf==3.20.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytz @ file:///croot/pytz_1713974312559/work
PyYAML==6.0
requests @ file:///croot/requests_1716902831423/work
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1630910537183/work
scipy==1.10.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sympy @ file:///croot/sympy_1701397643339/work
tenacity==8.2.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.32.1
triton==2.0.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///croot/urllib3_1718912636303/work
websocket-client==1.5.3
